<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}CineApp{% endblock %}</title>
    
    <!-- Tailwind CSS CDN -->
    <script src="https://cdn.tailwindcss.com"></script>
    
    <!-- O teu CSS Personalizado usando o url_for do Flask -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body class="bg-slate-900 text-slate-100 min-h-screen flex flex-col justify-between">
    
    <!-- Aqui entra o conteúdo dinâmico das outras páginas -->
    <main class="flex-grow flex items-center justify-center p-4">
        {% block content %}{% endblock %}
    </main>

</body>
</html>